#cont1{
    height: 1em;
    font-size: 50px;
    line-height: 50px;
    overflow: hidden;    
}
ul {
    list-style: none;
    animation: cambiar 7s infinite;
}

@keyframes cambiar{

    0%{ margin-top: 0;}
    20%{ margin-top: 0;}

    25%{ margin-top: -50px;}
    50%{ margin-top: -50px;}

    55%{ margin-top: -100px;}
    80%{ margin-top: -100px;}

    85%{ margin-top: -50px;}
    95%{ margin-top: -50px;}

    100%{ margin-top: 0;}
    
}

#widget-Reloj p{    
    display: inline-block;
    line-height: 1em;
}

#fecha {  
 text-align: center;
 font-size: 1.5em;
 color: aliceblue;
 /*background: rgba(0,0,0,.5);*/
 background: rgba(0,0,0);
 width: 100%;
 padding: 20px; 
 margin-bottom: 0.3125rem;
}

#reloj{ 
 text-align: center;
 font-size: 40px;
 color: aliceblue;
 /*background: rgba(0,0,0,.5);*/
 background: rgba(0,0,0);
 width: 100%;
 padding: 20px;
}

#reloj #caja-segundos{
    display: inline-block;
}
#reloj #segundos,
#reloj #ampm {
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: block;    
}
